<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>

<%= content_for :head do %>
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @contact } %>

<div class="container">
  <%= form_for @contact, url: contact_us_path, html: { novalidate: '' } do |f| %>
    <% if SpreeContactUs.require_name %>
      <%= f.text_field :name, class: 'required col-12 mt-3 mb-1 mb-lg-2', placeholder: true %>
    <% end %>

    <%= f.email_field :email, class: 'required col-12 mt-3 mb-1 mb-lg-2', placeholder: true %>

    <% if SpreeContactUs.require_subject %>
      <%= f.text_field :subject, class: 'required col-12 mt-3 mb-1 mb-lg-2' %>
    <% end %>

    <%= f.text_area :message, class: 'required col-12 mt-3 mb-3', rows: 4, placeholder: Spree.t('spree_contact_us.message_placeholder') %>

    <div class="text-center text-lg-left mt-lg-1 mb-4">
      <%= f.submit Spree.t(:send),
            alt: Spree.t(:send),
            id: 'contact_us_contact_submit',
            title: Spree.t(:send),
            class: 'btn btn-primary text-uppercase' %>
    </div>
    <%= recaptcha_action('contact') %>
  <% end %>
</div>
